.password {
  border: 1px solid lightgrey;
  display: flex;
  align-items: center;
  padding-right: 5px;
}

.password input.password-input {
  border: none;
  width: 100%;
}

.show-hide-icon {
  height: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  background: none;
  color: red;
  padding: 0;
}

.password-strength {
  font-size: 0.9rem;
  padding: 5px 0;
  text-align: right;
  transition: width 0.5s ease-in-out;
}

.password-strength.weak {
  width: 33%;
  color: crimson;
  border-bottom: 2px solid crimson;
}

.password-strength.medium {
  width: 66%;
  color: orangered;
  border-bottom: 2px solid orangered;
}

.password-strength.strong {
  width: 100%;
  color: green;
  border-bottom: 2px solid green;
}
