.password {
  border: 1px solid lightgrey;
  display: flex;
  align-items: center;
  padding-right: 5px;
}

.password input {
  border: none;
  width: 100%;
}

.show-hide-icon {
  height: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  background: none;
  color: red;
  padding: 0;
}
