.container {
    display: grid;
    grid-template-columns: 50px auto 50px;
    margin-top: 2em;
    align-items: center;
    flex-direction: column;
}

.recipe-table {
    display: grid;
    grid: auto-flow 1fr  / 1fr 1fr 1fr;
    grid-gap: 1rem 1rem;
    justify-content: center;
    height: 400px;
    margin: 0 1em;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 2;
}

.button {
    cursor: pointer;
    background: none;
    border: none;
    align-self: center;
}

.button.previous {
    color: white;
}

.button.next {
    color: red;
}