@import '../../mixins/breakpoints.scss';

.container {
    display: grid;
    grid-template-columns: 50px auto 50px;
    margin-top: 2em;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.recipeTable {
    display: grid;
    grid-gap: 1rem 1rem;
    justify-content: center;
    height: 100%;
    margin: 0 1em;
    padding: 20px;
    grid: auto-flow 1fr  / 1fr 1fr 1fr;  
    //grid-template-columns: repeat(minmax(auto-fill, 3), minmax(250px, 300px));
    width: 100%;
    overflow-y: scroll;

    @include breakpoint(desktop) {
       overflow: hidden;
    }
}

.tableContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 2;
}

.button {
    cursor: pointer;
    background: none;
    border: none;
    align-self: center;
}

.button.previous {
    color: white;
}

.button.next {
    color: red;
}