a {
  text-decoration: none;
}

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav-items {
  padding-right: 20px;
}

.nav-items a {
  display: block;
}

.nav-items svg {
  color: red;
  margin-left: 10px;
}

.nav-items span {
  color: red;
  font-size: 1.4rem;
  font-weight: bold;
}
