.password-criteria-list {
  margin: 0;
  text-align: left;
}

.password-criteria {
  font-size: 0.8rem;
  opacity: 0.35;
}

.password-criteria.active {
  opacity: 1;
}

.errors {
  padding: 5px;
  background: pink;
  text-align: left;
  font-size: 0.9rem;
  border: 1px red solid;
  margin-bottom: 5px;
}