.App {
  text-align: center;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 70px 1fr 70px;
  grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
  background-color: red;
  background-image: -webkit-linear-gradient(30deg, red 50%, white 50%);
}

.App-header {
  grid-area: header;
  padding: 1rem;
  user-select: none;
  color: white;
}

.App-main {
  grid-area: main;
  padding: 0 10%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center
}

.App-footer {
  grid-area: footer;
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
}





