.App {
  text-align: center;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 70px 1fr 70px;
  grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}

.App-header {
  grid-area: header;
  background: red;
}

.App-footer {
  grid-area: footer;
  display: flex;
  justify-content: flex-end;
  padding: 0 50px;
}

.App-main {
  grid-area: main;
  padding: 0 10%;
  overflow: hidden;
}

.App-title {
  font-size: 1.5em;
}



