@import '../../mixins/breakpoints';

.recipeSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.enter {
    transform: scale(0)
}

.enterActive {
    transform: scale(1);
    transition: all 500ms ease-out;
}

.exit {
   opacity: 1;
   transform: scale(1.25);
}

.exitActive {
    opacity: 0;
    transform: scale(0.1);
    transition: all 500ms ease-out;
}